<a href="https://colab.research.google.com/github/Srajan1122/Hyperspectral_Image_Classification/blob/srajan/CNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Importing Libraries

In [0]:
import pandas as pd
import numpy as np
from scipy import io
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder 
from sklearn import preprocessing

# Importing Dataset

In [0]:
loaded_dataset = io.loadmat('/content/drive/My Drive/Srajan/Internship/SEM4-LeadingindiaAI/Tasks/Datasets/PaviaC/Pavia.mat')
for key, value in loaded_dataset.items():
  if isinstance(value, type(np.array([1]))):
    image = loaded_dataset[key]

In [0]:
ground_truth_1 = io.loadmat('/content/drive/My Drive/Srajan/Internship/SEM4-LeadingindiaAI/Tasks/Datasets/PaviaC/Pavia_gt.mat')
for key, value in ground_truth_1.items():
  if isinstance(value, type(np.array([1]))):
    ground_truth = ground_truth_1[key]

## Class Labels

In [0]:
label_values = ["Alfalfa", "Corn-notill", "Corn-mintill",
                        "Corn", "Grass-pasture", "Grass-trees",
                        "Grass-pasture-mowed", "Hay-windrowed", "Oats",
                        "Soybean-notill", "Soybean-mintill", "Soybean-clean",
                        "Wheat", "Woods", "Buildings-Grass-Trees-Drives",
                        "Stone-Steel-Towers"]

## Resizing the data

In [0]:
image_with_gt = np.dstack((image, ground_truth))

In [0]:
final_output = image_with_gt.reshape(ground_truth.size, image.shape[2]+1)

## Data Visualization in pandas

In [0]:
data = pd.DataFrame(final_output)

In [9]:
data.head()

    0     1    2    3    4    5    6    ...   96    97    98    99    100   101  102
0   854   601  350  266  138  118  178  ...  3752  3690  3671  3664  3636  3643    0
1   527   642  575  294  123  168  207  ...  3861  3854  3882  3834  3725  3768    0
2   374   322  179   87  169  268  360  ...  4353  4306  4284  4318  4311  4321    0
3   706   520  560  572  425  243  271  ...  3975  3946  3954  3944  3936  3939    0
4  1120  1027  592  414  407  463  417  ...  4445  4364  4290  4268  4235  4272    0

[5 rows x 103 columns]

## Droping the rows if ground truth value is zero

In [10]:
print("Percentage of column which will be droped",(data.size - data[data.iloc[:, -1] == 0].size)/data.size,"%")

Percentage of column which will be droped 0.1890561992751774 %

In [0]:
data = data[data.iloc[:, -1] != 0]

# Spliting the data into feature and target

In [0]:
X = data.iloc[:, :-1]
y = data.iloc[:,-1]

# Feature Selection

In [0]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2, f_classif, mutual_info_classif

X = SelectKBest(f_classif, k=int((image.shape[2]+1)*0.75)).fit_transform(X, y)

# OneHotEncoding in target column

In [0]:
onehotencoder = OneHotEncoder() 
y = onehotencoder.fit_transform(np.array(y).reshape(-1,1)).toarray()

# Standardizing the feature columna

In [0]:
X = preprocessing.scale(X)

# Spliting the data into training and testing set

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=1)#0.25 0.15

In [0]:
number = int(X_test.shape[0]/2)

xx_test = X_test[:number, :]
yy_test = y_test[:number, :]
xx_val = X_test[number:, :]
yy_val = y_test[number:, :]

In [18]:
from keras import backend as K
feature = X.shape[1]

if K.image_data_format() == 'channels_first':
    X_train = X_train.reshape(X_train.shape[0], 1, feature)
    xx_test = xx_test.reshape(xx_test.shape[0], 1, feature)
    xx_val = xx_val.reshape(xx_val.shape[0], 1, feature)
    input_shape = (1, feature)
else:
    X_train = X_train.reshape(X_train.shape[0], feature, 1)
    xx_test = xx_test.reshape(xx_test.shape[0], feature, 1)
    xx_val = xx_val.reshape(xx_val.shape[0], feature, 1)
    input_shape = (feature, 1)

Using TensorFlow backend.

# Building CNN Model

In [0]:
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten, Conv1D, MaxPooling1D, BatchNormalization

In [20]:
model = Sequential()
model.add(Conv1D(8, kernel_size=3, activation='relu', input_shape=input_shape))
model.add(Conv1D(8, kernel_size=3, activation='relu', input_shape=input_shape))
model.add(BatchNormalization())
model.add(MaxPooling1D(pool_size=2))
model.add(Conv1D(16, 3, activation='relu'))
model.add(Conv1D(16, 3, activation='relu'))
model.add(BatchNormalization())
model.add(MaxPooling1D(pool_size=2))
model.add(Conv1D(32, 3, activation='relu'))
model.add(Conv1D(32, 3, activation='relu'))
model.add(BatchNormalization())
model.add(MaxPooling1D(pool_size=2))
model.add(Conv1D(64, 3, activation='relu'))
model.add(Conv1D(64, 3, activation='relu'))
model.add(BatchNormalization())
model.add(MaxPooling1D(pool_size=2))
model.add(Dropout(0.25))
model.add(Flatten())
model.add(Dense(64, activation='relu'))
model.add(BatchNormalization())
model.add(Dropout(0.5))
model.add(Dense(32, activation='relu'))
model.add(BatchNormalization())
model.add(Dropout(0.5))
model.add(Dense(16, activation='relu'))
model.add(BatchNormalization())
model.add(Dropout(0.5))
model.add(Dense(9, activation='softmax'))
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv1d_1 (Conv1D)            (None, 75, 8)             32
_________________________________________________________________
conv1d_2 (Conv1D)            (None, 73, 8)             200
_________________________________________________________________
batch_normalization_1 (Batch (None, 73, 8)             32
_________________________________________________________________
max_pooling1d_1 (MaxPooling1 (None, 36, 8)             0
_________________________________________________________________
conv1d_3 (Conv1D)            (None, 34, 16)            400
_________________________________________________________________
conv1d_4 (Conv1D)            (None, 32, 16)            784
_________________________________________________________________
batch_normalization_2 (Batch (None, 32, 16)            64
_________________________________________________________________
max_pooling1d_2 (MaxPooling1 (None, 16, 16)            0
_________________________________________________________________
conv1d_5 (Conv1D)            (None, 14, 32)            1568
_________________________________________________________________
conv1d_6 (Conv1D)            (None, 12, 32)            3104
_________________________________________________________________
batch_normalization_3 (Batch (None, 12, 32)            128
_________________________________________________________________
max_pooling1d_3 (MaxPooling1 (None, 6, 32)             0
_________________________________________________________________
conv1d_7 (Conv1D)            (None, 4, 64)             6208
_________________________________________________________________
conv1d_8 (Conv1D)            (None, 2, 64)             12352
_________________________________________________________________
batch_normalization_4 (Batch (None, 2, 64)             256
_________________________________________________________________
max_pooling1d_4 (MaxPooling1 (None, 1, 64)             0
_________________________________________________________________
dropout_1 (Dropout)          (None, 1, 64)             0
_________________________________________________________________
flatten_1 (Flatten)          (None, 64)                0
_________________________________________________________________
dense_1 (Dense)              (None, 64)                4160
_________________________________________________________________
batch_normalization_5 (Batch (None, 64)                256
_________________________________________________________________
dropout_2 (Dropout)          (None, 64)                0
_________________________________________________________________
dense_2 (Dense)              (None, 32)                2080
_________________________________________________________________
batch_normalization_6 (Batch (None, 32)                128
_________________________________________________________________
dropout_3 (Dropout)          (None, 32)                0
_________________________________________________________________
dense_3 (Dense)              (None, 16)                528
_________________________________________________________________
batch_normalization_7 (Batch (None, 16)                64
_________________________________________________________________
dropout_4 (Dropout)          (None, 16)                0
_________________________________________________________________
dense_4 (Dense)              (None, 9)                 153
=================================================================
Total params: 32,497
Trainable params: 32,033
Non-trainable params: 464
_________________________________________________________________

In [21]:
import keras
model.compile(loss=keras.losses.categorical_crossentropy,
              optimizer=keras.optimizers.Adadelta(),
              metrics=['accuracy'])

model.fit(X_train, y_train,
          batch_size=128,
          epochs=50,
          verbose=1,
          validation_data=(xx_val, yy_val))

Train on 103706 samples, validate on 22223 samples
Epoch 1/50
103706/103706 [==============================] - 23s 222us/step - loss: 0.6387 - accuracy: 0.8116 - val_loss: 0.1428 - val_accuracy: 0.9537
Epoch 2/50
103706/103706 [==============================] - 22s 215us/step - loss: 0.2548 - accuracy: 0.9197 - val_loss: 0.0847 - val_accuracy: 0.9681
Epoch 3/50
103706/103706 [==============================] - 23s 222us/step - loss: 0.1990 - accuracy: 0.9382 - val_loss: 0.3414 - val_accuracy: 0.8821
Epoch 4/50
103706/103706 [==============================] - 22s 212us/step - loss: 0.1776 - accuracy: 0.9453 - val_loss: 0.1290 - val_accuracy: 0.9573
Epoch 5/50
103706/103706 [==============================] - 22s 212us/step - loss: 0.1642 - accuracy: 0.9493 - val_loss: 4.5027 - val_accuracy: 0.5034
Epoch 6/50
103706/103706 [==============================] - 22s 210us/step - loss: 0.1522 - accuracy: 0.9539 - val_loss: 1.6179 - val_accuracy: 0.5464
Epoch 7/50
103706/103706 [==============================] - 22s 209us/step - loss: 0.1425 - accuracy: 0.9571 - val_loss: 0.2168 - val_accuracy: 0.9330
Epoch 8/50
103706/103706 [==============================] - 22s 214us/step - loss: 0.1329 - accuracy: 0.9606 - val_loss: 0.0663 - val_accuracy: 0.9794
Epoch 9/50
103706/103706 [==============================] - 22s 215us/step - loss: 0.1279 - accuracy: 0.9619 - val_loss: 0.0550 - val_accuracy: 0.9850
Epoch 10/50
103706/103706 [==============================] - 23s 222us/step - loss: 0.1236 - accuracy: 0.9640 - val_loss: 0.0506 - val_accuracy: 0.9865
Epoch 11/50
103706/103706 [==============================] - 23s 219us/step - loss: 0.1209 - accuracy: 0.9643 - val_loss: 0.0568 - val_accuracy: 0.9848
Epoch 12/50
103706/103706 [==============================] - 23s 217us/step - loss: 0.1208 - accuracy: 0.9655 - val_loss: 0.0779 - val_accuracy: 0.9807
Epoch 13/50
103706/103706 [==============================] - 22s 210us/step - loss: 0.1168 - accuracy: 0.9657 - val_loss: 0.0529 - val_accuracy: 0.9870
Epoch 14/50
103706/103706 [==============================] - 22s 214us/step - loss: 0.1153 - accuracy: 0.9671 - val_loss: 0.0561 - val_accuracy: 0.9838
Epoch 15/50
103706/103706 [==============================] - 22s 211us/step - loss: 0.1129 - accuracy: 0.9671 - val_loss: 0.0550 - val_accuracy: 0.9857
Epoch 16/50
103706/103706 [==============================] - 22s 213us/step - loss: 0.1099 - accuracy: 0.9681 - val_loss: 0.0522 - val_accuracy: 0.9872
Epoch 17/50
103706/103706 [==============================] - 22s 212us/step - loss: 0.1112 - accuracy: 0.9680 - val_loss: 0.0588 - val_accuracy: 0.9839
Epoch 18/50
103706/103706 [==============================] - 22s 209us/step - loss: 0.1069 - accuracy: 0.9692 - val_loss: 0.0725 - val_accuracy: 0.9784
Epoch 19/50
103706/103706 [==============================] - 22s 209us/step - loss: 0.1072 - accuracy: 0.9695 - val_loss: 0.0472 - val_accuracy: 0.9881
Epoch 20/50
103706/103706 [==============================] - 21s 204us/step - loss: 0.1073 - accuracy: 0.9695 - val_loss: 0.0487 - val_accuracy: 0.9853
Epoch 21/50
103706/103706 [==============================] - 22s 208us/step - loss: 0.1031 - accuracy: 0.9699 - val_loss: 0.0494 - val_accuracy: 0.9879
Epoch 22/50
103706/103706 [==============================] - 22s 214us/step - loss: 0.1026 - accuracy: 0.9706 - val_loss: 0.0483 - val_accuracy: 0.9882
Epoch 23/50
103706/103706 [==============================] - 22s 210us/step - loss: 0.1022 - accuracy: 0.9709 - val_loss: 0.0486 - val_accuracy: 0.9881
Epoch 24/50
103706/103706 [==============================] - 22s 209us/step - loss: 0.1001 - accuracy: 0.9719 - val_loss: 0.0485 - val_accuracy: 0.9859
Epoch 25/50
103706/103706 [==============================] - 22s 213us/step - loss: 0.1027 - accuracy: 0.9708 - val_loss: 0.1753 - val_accuracy: 0.9550
Epoch 26/50
103706/103706 [==============================] - 22s 216us/step - loss: 0.1012 - accuracy: 0.9709 - val_loss: 0.0452 - val_accuracy: 0.9882
Epoch 27/50
103706/103706 [==============================] - 22s 209us/step - loss: 0.0960 - accuracy: 0.9726 - val_loss: 0.0701 - val_accuracy: 0.9816
Epoch 28/50
103706/103706 [==============================] - 22s 210us/step - loss: 0.0949 - accuracy: 0.9729 - val_loss: 0.0588 - val_accuracy: 0.9847
Epoch 29/50
103706/103706 [==============================] - 21s 206us/step - loss: 0.0952 - accuracy: 0.9728 - val_loss: 0.0408 - val_accuracy: 0.9896
Epoch 30/50
103706/103706 [==============================] - 22s 210us/step - loss: 0.0940 - accuracy: 0.9738 - val_loss: 0.1066 - val_accuracy: 0.9675
Epoch 31/50
103706/103706 [==============================] - 23s 220us/step - loss: 0.0943 - accuracy: 0.9730 - val_loss: 0.1374 - val_accuracy: 0.9688
Epoch 32/50
103706/103706 [==============================] - 22s 217us/step - loss: 0.0924 - accuracy: 0.9743 - val_loss: 0.0412 - val_accuracy: 0.9896
Epoch 33/50
103706/103706 [==============================] - 22s 214us/step - loss: 0.0915 - accuracy: 0.9746 - val_loss: 0.0603 - val_accuracy: 0.9819
Epoch 34/50
103706/103706 [==============================] - 22s 213us/step - loss: 0.0922 - accuracy: 0.9744 - val_loss: 0.0392 - val_accuracy: 0.9907
Epoch 35/50
103706/103706 [==============================] - 22s 216us/step - loss: 0.0907 - accuracy: 0.9745 - val_loss: 0.0417 - val_accuracy: 0.9907
Epoch 36/50
103706/103706 [==============================] - 22s 213us/step - loss: 0.0911 - accuracy: 0.9743 - val_loss: 0.0561 - val_accuracy: 0.9867
Epoch 37/50
103706/103706 [==============================] - 22s 216us/step - loss: 0.0848 - accuracy: 0.9761 - val_loss: 0.1703 - val_accuracy: 0.9655
Epoch 38/50
103706/103706 [==============================] - 21s 201us/step - loss: 0.0882 - accuracy: 0.9749 - val_loss: 0.2389 - val_accuracy: 0.9602
Epoch 39/50
103706/103706 [==============================] - 21s 204us/step - loss: 0.0890 - accuracy: 0.9752 - val_loss: 0.0496 - val_accuracy: 0.9874
Epoch 40/50
103706/103706 [==============================] - 21s 206us/step - loss: 0.0858 - accuracy: 0.9754 - val_loss: 0.0663 - val_accuracy: 0.9841
Epoch 41/50
103706/103706 [==============================] - 21s 203us/step - loss: 0.0854 - accuracy: 0.9760 - val_loss: 0.0417 - val_accuracy: 0.9902
Epoch 42/50
103706/103706 [==============================] - 21s 203us/step - loss: 0.0850 - accuracy: 0.9765 - val_loss: 0.0472 - val_accuracy: 0.9897
Epoch 43/50
103706/103706 [==============================] - 21s 206us/step - loss: 0.0845 - accuracy: 0.9765 - val_loss: 0.0739 - val_accuracy: 0.9824
Epoch 44/50
103706/103706 [==============================] - 21s 207us/step - loss: 0.0881 - accuracy: 0.9752 - val_loss: 0.0394 - val_accuracy: 0.9911
Epoch 45/50
103706/103706 [==============================] - 22s 212us/step - loss: 0.0865 - accuracy: 0.9756 - val_loss: 0.0416 - val_accuracy: 0.9886
Epoch 46/50
103706/103706 [==============================] - 22s 211us/step - loss: 0.0856 - accuracy: 0.9760 - val_loss: 0.0514 - val_accuracy: 0.9868
Epoch 47/50
103706/103706 [==============================] - 22s 211us/step - loss: 0.0836 - accuracy: 0.9768 - val_loss: 0.0619 - val_accuracy: 0.9856
Epoch 48/50
103706/103706 [==============================] - 22s 210us/step - loss: 0.0816 - accuracy: 0.9760 - val_loss: 0.0398 - val_accuracy: 0.9912
Epoch 49/50
103706/103706 [==============================] - 22s 216us/step - loss: 0.0809 - accuracy: 0.9773 - val_loss: 0.0475 - val_accuracy: 0.9896
Epoch 50/50
103706/103706 [==============================] - 22s 209us/step - loss: 0.0816 - accuracy: 0.9774 - val_loss: 0.0389 - val_accuracy: 0.9910

In [22]:
score = model.evaluate(xx_test, yy_test, verbose=1)
print('Test loss:', score[0])
print('Test accuracy:', score[1])

22223/22223 [==============================] - 2s 86us/step
Test loss: 0.042489849591747716
Test accuracy: 0.9901003241539001