<a href="https://colab.research.google.com/github/Srajan1122/Hyperspectral_Image_Classification/blob/srajan/LSTM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Importing Libraries

In [0]:
import pandas as pd
import numpy as np
from scipy import io
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder 
from sklearn import preprocessing
import tensorflow.keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Flatten, Dropout, LSTM

In [0]:
loaded_dataset = io.loadmat('/content/drive/My Drive/Srajan/Internship/SEM4-LeadingindiaAI/Tasks/Datasets/PaviaC/Pavia.mat')
for key, value in loaded_dataset.items():
  if isinstance(value, type(np.array([1]))):
    image = loaded_dataset[key]

In [0]:
ground_truth_1 = io.loadmat('/content/drive/My Drive/Srajan/Internship/SEM4-LeadingindiaAI/Tasks/Datasets/PaviaC/Pavia_gt.mat')
for key, value in ground_truth_1.items():
  if isinstance(value, type(np.array([1]))):
    ground_truth = ground_truth_1[key]

## Resizing the data

In [0]:
image_with_gt = np.dstack((image, ground_truth))

In [0]:
final_output = image_with_gt.reshape(ground_truth.size, image.shape[2]+1)

## Data Visualization in pandas

In [0]:
data = pd.DataFrame(final_output)

In [8]:
data.head()

    0     1    2    3    4    5    6    ...   96    97    98    99    100   101  102
0   854   601  350  266  138  118  178  ...  3752  3690  3671  3664  3636  3643    0
1   527   642  575  294  123  168  207  ...  3861  3854  3882  3834  3725  3768    0
2   374   322  179   87  169  268  360  ...  4353  4306  4284  4318  4311  4321    0
3   706   520  560  572  425  243  271  ...  3975  3946  3954  3944  3936  3939    0
4  1120  1027  592  414  407  463  417  ...  4445  4364  4290  4268  4235  4272    0

[5 rows x 103 columns]

## Droping the rows if ground truth value is zero

In [9]:
print("Percentage of column which will be droped",(data.size - data[data.iloc[:, -1] == 0].size)/data.size,"%")

Percentage of column which will be droped 0.1890561992751774 %

In [0]:
data = data[data.iloc[:, -1] != 0]

# Spliting the data into feature and target

In [0]:
X = data.iloc[:, :-1]
y = data.iloc[:,-1]

# Feature Selection

In [0]:
# from sklearn.feature_selection import SelectKBest
# from sklearn.feature_selection import chi2, f_classif, mutual_info_classif

# X = SelectKBest(f_classif, k=int((image.shape[2]+1)*0.75)).fit_transform(X, y)

# Feature Extraction

In [0]:
from sklearn.decomposition import PCA 

pca = PCA(n_components = int((image.shape[2]+1)*0.75))
X = pca.fit_transform(X)

# OneHotEncoding in target column

In [0]:
# onehotencoder = OneHotEncoder() 
# y = onehotencoder.fit_transform(np.array(y).reshape(-1,1)).toarray()

# Standardizing the feature columna

In [0]:
X = preprocessing.scale(X)

# Spliting the data into training and testing set

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.90, random_state=1)#0.25 0.15

In [0]:
number = int(X_test.shape[0]/2)

xx_test = X_test[:number, :]
xx_val = X_test[number:, :]

if len(y_test.shape) > 1:
  loss = tensorflow.keras.losses.categorical_crossentropy
  metrics=['accuracy']
  yy_test = y_test[:number, :]
  yy_val = y_test[number:, :]
else:
  loss = tensorflow.keras.losses.sparse_categorical_crossentropy
  metrics=['sparse_categorical_accuracy']
  y_test = [x - 1 for x in y_test]
  y_train = [x - 1 for x in y_train]
  yy_test = y_test[:number]
  yy_val = y_test[number:]

In [0]:
from tensorflow.keras import backend as K
feature = X.shape[1]

# if K.image_data_format() == 'channels_first':
#     X_train = X_train.reshape(X_train.shape[0], 1, feature)
#     xx_test = xx_test.reshape(xx_test.shape[0], 1, feature)
#     xx_val = xx_val.reshape(xx_val.shape[0], 1, feature)
#     input_shape = (1, feature)
# else:
#     X_train = X_train.reshape(X_train.shape[0], feature, 1)
#     xx_test = xx_test.reshape(xx_test.shape[0], feature, 1)
#     xx_val = xx_val.reshape(xx_val.shape[0], feature, 1)
#     input_shape = (feature, 1)

X_train = X_train.reshape(X_train.shape[0], 1, feature)
xx_test = xx_test.reshape(xx_test.shape[0], 1, feature)
xx_val = xx_val.reshape(xx_val.shape[0], 1, feature)
input_shape = (1, feature)

In [0]:
# import numpy as np                                       #importing all the libs
# import scipy as s
# from scipy.io import loadmat
# import matplotlib.pyplot as plt
# from keras.callbacks import ModelCheckpoint, TensorBoard
# from scipy import io
# from sklearn.preprocessing import OneHotEncoder 
# import pylab as plt
# import pandas as pd
# import tensorflow as  tf
# import keras

# import tensorflow.keras.layers as kl
# from tensorflow.keras.layers import BatchNormalization 
# from tensorflow.keras import regularizers

In [0]:
# loaded_dataset = io.loadmat('/content/drive/My Drive/Srajan/Internship/SEM4-LeadingindiaAI/Tasks/Datasets/PaviaC/Pavia.mat')
# for key, value in loaded_dataset.items():
#   if isinstance(value, type(np.array([1]))):
#     image = loaded_dataset[key]

# ground_truth_1 = io.loadmat('/content/drive/My Drive/Srajan/Internship/SEM4-LeadingindiaAI/Tasks/Datasets/PaviaC/Pavia_gt.mat')
# for key, value in ground_truth_1.items():
#   if isinstance(value, type(np.array([1]))):
#     ground_truth = ground_truth_1[key]

In [0]:
# image_with_gt = np.dstack((image, ground_truth))
# final_output = image_with_gt.reshape(ground_truth.size, image.shape[2]+1)
# data=pd.DataFrame(final_output)
# data.shape

# **dropping 0**

In [0]:
# data = data[data.iloc[:, -1] != 0]
# data.shape

In [0]:
# gt=data.loc[:,data.shape[1]-1]
# dataset=data.loc[:, 0:data.shape[1]-2]

In [0]:
# onehotencoder = OneHotEncoder() 
# gt = onehotencoder.fit_transform(np.array(gt).reshape(-1,1)).toarray()

In [0]:
# from sklearn import preprocessing
# dataset = preprocessing.scale(dataset)
# pd.DataFrame(dataset).head()

In [0]:
# from sklearn.decomposition import PCA 
# pca = PCA(n_components = 100) 
# dataset_p = pca.fit_transform(dataset) 
 
# print(dataset_p.shape) 
# pd.DataFrame(dataset_p).head()

In [0]:
# from sklearn.model_selection import train_test_split

# train_X, test_X, train_y, test_y = train_test_split(dataset_p, gt, test_size=0.30, random_state=42)
# train_X = train_X.reshape((train_X.shape[0],1, train_X.shape[1]))
# test_X = test_X.reshape((test_X.shape[0],1, test_X.shape[1]))
# print(train_X.shape, train_y.shape, test_X.shape, test_y.shape)

In [28]:
# design network
model = Sequential()
model.add(LSTM(200, input_shape=input_shape, return_sequences=False))
model.add(Dropout(0.2))

model.add(Dense(9, activation='softmax'))
model.compile(loss=loss, optimizer='adam', metrics=metrics)
model.summary()

# fit network
history = model.fit(X_train, np.array(y_train), validation_data=(xx_val, np.array(yy_val)), 
                    epochs=30,verbose=1)

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm (LSTM)                  (None, 200)               222400
_________________________________________________________________
dropout (Dropout)            (None, 200)               0
_________________________________________________________________
dense (Dense)                (None, 9)                 1809
=================================================================
Total params: 224,209
Trainable params: 224,209
Non-trainable params: 0
_________________________________________________________________
Epoch 1/30
463/463 [==============================] - 9s 19ms/step - loss: 0.5870 - accuracy: 0.8971 - val_loss: 0.0999 - val_accuracy: 0.9761
Epoch 2/30
463/463 [==============================] - 8s 18ms/step - loss: 0.0714 - accuracy: 0.9823 - val_loss: 0.0618 - val_accuracy: 0.9819
Epoch 3/30
463/463 [==============================] - 8s 18ms/step - loss: 0.0442 - accuracy: 0.9883 - val_loss: 0.0526 - val_accuracy: 0.9838
Epoch 4/30
463/463 [==============================] - 9s 18ms/step - loss: 0.0304 - accuracy: 0.9930 - val_loss: 0.0499 - val_accuracy: 0.9840
Epoch 5/30
463/463 [==============================] - 8s 18ms/step - loss: 0.0218 - accuracy: 0.9955 - val_loss: 0.0482 - val_accuracy: 0.9841
Epoch 6/30
463/463 [==============================] - 8s 18ms/step - loss: 0.0141 - accuracy: 0.9972 - val_loss: 0.0483 - val_accuracy: 0.9846
Epoch 7/30
463/463 [==============================] - 8s 18ms/step - loss: 0.0096 - accuracy: 0.9989 - val_loss: 0.0486 - val_accuracy: 0.9847
Epoch 8/30
463/463 [==============================] - 10s 21ms/step - loss: 0.0064 - accuracy: 0.9993 - val_loss: 0.0488 - val_accuracy: 0.9847
Epoch 9/30
463/463 [==============================] - 9s 18ms/step - loss: 0.0050 - accuracy: 0.9995 - val_loss: 0.0504 - val_accuracy: 0.9849
Epoch 10/30
463/463 [==============================] - 8s 18ms/step - loss: 0.0032 - accuracy: 0.9999 - val_loss: 0.0516 - val_accuracy: 0.9850
Epoch 11/30
463/463 [==============================] - 8s 18ms/step - loss: 0.0022 - accuracy: 0.9999 - val_loss: 0.0534 - val_accuracy: 0.9846
Epoch 12/30
463/463 [==============================] - 8s 18ms/step - loss: 0.0018 - accuracy: 0.9999 - val_loss: 0.0551 - val_accuracy: 0.9848
Epoch 13/30
463/463 [==============================] - 8s 18ms/step - loss: 0.0013 - accuracy: 1.0000 - val_loss: 0.0540 - val_accuracy: 0.9854
Epoch 14/30
463/463 [==============================] - 8s 18ms/step - loss: 9.3919e-04 - accuracy: 1.0000 - val_loss: 0.0558 - val_accuracy: 0.9850
Epoch 15/30
463/463 [==============================] - 8s 18ms/step - loss: 8.2641e-04 - accuracy: 1.0000 - val_loss: 0.0576 - val_accuracy: 0.9850
Epoch 16/30
463/463 [==============================] - 8s 18ms/step - loss: 5.8019e-04 - accuracy: 1.0000 - val_loss: 0.0597 - val_accuracy: 0.9854
Epoch 17/30
463/463 [==============================] - 8s 18ms/step - loss: 5.1070e-04 - accuracy: 1.0000 - val_loss: 0.0604 - val_accuracy: 0.9851
Epoch 18/30
463/463 [==============================] - 8s 18ms/step - loss: 5.1574e-04 - accuracy: 1.0000 - val_loss: 0.0642 - val_accuracy: 0.9844
Epoch 19/30
463/463 [==============================] - 8s 18ms/step - loss: 3.7209e-04 - accuracy: 1.0000 - val_loss: 0.0656 - val_accuracy: 0.9850
Epoch 20/30
463/463 [==============================] - 8s 18ms/step - loss: 4.0999e-04 - accuracy: 1.0000 - val_loss: 0.0681 - val_accuracy: 0.9849
Epoch 21/30
463/463 [==============================] - 8s 18ms/step - loss: 2.4266e-04 - accuracy: 1.0000 - val_loss: 0.0665 - val_accuracy: 0.9853
Epoch 22/30
463/463 [==============================] - 8s 18ms/step - loss: 1.6077e-04 - accuracy: 1.0000 - val_loss: 0.0684 - val_accuracy: 0.9853
Epoch 23/30
463/463 [==============================] - 8s 18ms/step - loss: 1.1708e-04 - accuracy: 1.0000 - val_loss: 0.0713 - val_accuracy: 0.9851
Epoch 24/30
463/463 [==============================] - 8s 18ms/step - loss: 1.4716e-04 - accuracy: 1.0000 - val_loss: 0.0749 - val_accuracy: 0.9839
Epoch 25/30
463/463 [==============================] - 8s 18ms/step - loss: 0.0022 - accuracy: 0.9993 - val_loss: 0.0886 - val_accuracy: 0.9827
Epoch 26/30
463/463 [==============================] - 8s 18ms/step - loss: 0.0016 - accuracy: 0.9996 - val_loss: 0.0786 - val_accuracy: 0.9838
Epoch 27/30
463/463 [==============================] - 8s 18ms/step - loss: 3.7765e-04 - accuracy: 1.0000 - val_loss: 0.0777 - val_accuracy: 0.9844
Epoch 28/30
463/463 [==============================] - 9s 19ms/step - loss: 3.0029e-04 - accuracy: 0.9999 - val_loss: 0.0772 - val_accuracy: 0.9844
Epoch 29/30
463/463 [==============================] - 8s 18ms/step - loss: 1.4832e-04 - accuracy: 1.0000 - val_loss: 0.0771 - val_accuracy: 0.9846
Epoch 30/30
463/463 [==============================] - 8s 18ms/step - loss: 9.3301e-05 - accuracy: 1.0000 - val_loss: 0.0773 - val_accuracy: 0.9846

In [29]:
score = model.evaluate(xx_test, np.array(yy_test), verbose=1)
print('Test loss:', score[0])
print('Test accuracy:', score[1])

2084/2084 [==============================] - 7s 3ms/step - loss: 0.0727 - accuracy: 0.9847
Test loss: 0.07271278649568558
Test accuracy: 0.9847003221511841

In [0]:
if len(np.array(y_test).shape) == 1:
  y_test = [x+1 for x in y_test]
  y_train = [x+1 for x in y_train]

In [0]:
# pred = X.reshape((X.shape[0], 1, X.shape[1]))



# Y_pred_test = model.predict(pred)
# y_pred_test = np.argmax(Y_pred_test, axis=1)

# from sklearn.metrics import accuracy_score
# from sklearn.metrics import classification_report
# print(accuracy_score(y, y_pred_test)*100)

# #= summarize history for accuracy
# plt.plot(history.history['accuracy'])
# plt.plot(history.history['val_accuracy'])
# plt.title('model accuracy')
# plt.ylabel('accuracy')
# plt.xlabel('epoch')
# plt.legend(['train', 'test'], loc='upper left')
# plt.show()
# # summarize history for loss
# plt.plot(history.history['loss'])
# plt.plot(history.history['val_loss'])
# plt.title('model loss')
# plt.ylabel('loss')
# plt.xlabel('epoch')
# plt.legend(['train', 'test'], loc='upper left')
# plt.show()